.planScreen-plans-info {
  display: flex;
  flex-direction: column;
}

.plan {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  /* color: gray; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.8;
  cursor: pointer;
}

.plan > button {
  padding: 10px 20px;
  background-color: #e50914;
  font-weight: 600;
  color: #fff;

  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  border: none;
}

.plan:hover {
  opacity: 1;
}
.plan > .current {
  background-color: gray;
}
